name: issue-automation

on:
  issues:
    types: [opened]

jobs:
  automate-issues-labels:
    runs-on: ubuntu-latest
    steps:
      - uses: andymckay/labeler@1.0.2
        with:
          add-labels: "needs-triage"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
       